<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h6 {font-size: 15px}
        .h2-text {color: red}
    </style>
</head>
<body>
<div>
    <h1 id="h1-text"> H1 text</h1>
    <h2 class="h2-text"> H2 text</h2>
    <h6 class="h2-text"> H6 text</h6>
    <p>С другой стороны постоянный количественный рост и сфера нашей активности представляет собой интересный
        эксперимент проверки направлений прогрессивного развития. Идейные соображения высшего порядка, а также
        сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении
        поставленных задач. <span style="color: green">Товарищи!</span> укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие
        в формировании форм развития.</p>
    <a href="https://spbcult.ru/upload/iblock/7b9/9n0tc4etzlpw3t1h1021gjzhwl226j5k.jpg" target="_blank">Бу!</a>
    <img alt="BU!.jpg" src="https://spbcult.ru/upload/iblock/7b9/9n0tc4etzlpw3t1h1021gjzhwl226j5k.jpg" style="width: 250px">
</div>
<div>
    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
    </ul>
    <ol>
        <li>one</li>
        <li>two</li>
        <li>three</li>
    </ol>
</div>
<div>
    <form action="/action" method="POST">
        <input type="text" value="12345" placeholder="text">
        <input required type="email" placeholder="email">
        <input type="password" placeholder="password">
        <textarea required placeholder="что то">Бу!</textarea>
        <button type="submit">Кнопка пуска</button>
    </form>
</div>
<div>
    <table>
        <thead>
        <tr>
            <td>one</td>
            <td>two</td>
            <td>three</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>